body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.weatherForm {
    margin: 10px;

    display: flex;
    justify-content: center;
    margin: 20px;

}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 95%);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
.cityInput:hover{
    padding: 11px;
    font-size: 3rem;
    border: 2px solid hsl(215, 80%,70%);
    border-radius:  12px;
    /* margin: 15px; */
    /*width: 350px;*/
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(122, 39%, 50%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: hsl(102, 35%, 30%);
    font-size: 3rem;
    border: 2px solid black;
}

button[type="submit"]:active {
    background-color: peru;
    font-size: 4rem;
    border-radius: 10px solid rgb(111, 66, 21);
 

}

.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 50%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.5);
    min-width: 300px;
    width: 90%;
    /* Responsive genişlik */
    max-width: 600px;
    /* Ama taşmasın */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.card:hover{
    padding: 70px;
    box-shadow: 3px 3px 7px hsl(0,2%,0.8);
    min-width: 400;

    margin: 30px auto;
    /* border-bottom-right-radius: 40px; */
}
h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0.75);
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0.75);
}
body{
    background:  linear-gradient(100deg, hsl(215, 90%, 75%), hsl(40, 90%, 45%));
};
body:hover{
    background-color: linear-gardient(100deg, hsl(215, 80%,70%), hsl(35,80%,40%));
}




